.nav {
  width: 85%;
  height: 12.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: transparent;
  z-index: 10;
}

.left {
  display: flex;
  align-items: center;
}

.left img {
  display: block;
  width: 8rem;
  object-fit: contain;
  margin-left: 25%;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  flex-shrink: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-200);
  font-weight: var(--weight-700);
  text-transform: uppercase;
}

.link a {
  color: var(--black-500);
}

.link:not(:last-child) {
  margin-right: 1.5rem;
}

.button {
  cursor: pointer;
  color: var(--black-500);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-200);
  font-weight: var(--weight-700);
  text-transform: uppercase;
}

.icon {
  color: var(--color-white);
}

@media (max-width: 820px) {
  .nav {
    width: 100%;
    padding: 2rem 1rem;
  }
}

@media (max-width: 680px) {
  .nav {
    height: 5vh;
  }

  .left img {
    width: 5rem;
  }
}

@media (max-width: 480px) {
  .left img {
    display: none;
  }

  .user {
    display: none;
  }
}
